# Rename this file to .env and update the 

# Local development — credentials to connect to your local Postgres server
PG_HOST=localhost
PG_PORT=5432
PG_USER=
PG_PASSWORD=
PG_DATABASE=users_db

# Production — Add a value here to connect to a production database
# PG_CONNECTION_STRING=postgres://user:password@host:5432/database